:root{
  --white: white;
  --darkgreen: darkgreen;
  --purple: #64295B;
  --black: black;
  --siteFont: Arial, Helvetica, sans-serif;
}

body{
font-family: var(--siteFont);
line-height: 1.5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--darkgreen);
    color: var(--white)
}
h1{
    background-color: var(--darkgreen);
    font-size: 40px;
    font-weight: bold;
   
}
h2{
    position: absolute;
    top: 250px;
    right: 30px;
    background-color:var(--black);
    color:var(--white);
    padding-left: 20px;
    padding-right: 20px;  
}
.greenblur img{
  position: relative;
  height: 200px;
  width: 100%;
  object-fit: cover;
  position: relative;
  text-align: center;
  color: var(--white);
  
}

 .myDetails p{
    position: relative;
    float: right;
    justify-content: right;
    height: 250px;
    width: 75%;
    margin: 0px 0px;
    padding: 30px;
    background-color: var(--darkgreen);
    color: var(--white);
    
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: var(--siteFont);
    font-weight: bold;
    min-width: 400px;

}
nav a:hover {
        color: var(--purple);
}

a{
    color: var(--white);
}
aside{
   display:flex;
   justify-content: space-between;
   flex-direction: column;
   position:absolute;
   top: 358px;
   left: 5px;
   height: 100%;
   width: 20%;
   background-color: var(--darkgreen);

}
.side{
    font-size: 50px;
}
.container img{
    display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
footer{
    display: flex; 
  align-items: center; 
  justify-content: center; 
    float: right;
    height: 100px;
    width: 80%;
    padding: 10px;
    background-image: linear-gradient(darkgreen,rgba(0, 128, 0, 0.602),rgba(0, 128, 0, 0.322));
}
footer a:hover{
    color: var(--purple);

}
footer p{
    font-size: larger;
    font-family: var(--siteFont);
    font-weight: bold;
    color: var(--white);
    padding: 100px;
    display: inline-flex;
    justify-content: space-between;
}
 
/* Cards are split into two columns at 992px or smaller
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    Change the header color
    header {
      background: #772014;
    }
  }
  
  Cards are stacked on top of each other at 768px or smaller
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    Change the header color
    header {
      background: #8ac4ff;
    }
   */